.main-sec2{
    width: 50vw;
}
.main_section2{
    display: flex;
    margin-top: 240px;
}

/* 왼쪽 */
.main-sec2 .sec2Leftbox {
    background-color:#EBFEFF;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 25%);
    height: 620px;
    position: relative;
}
.main-sec2 .sec2Leftbox .sec2Leftbox-Textbox{
    padding: 70px 0px 0px 60px;
}
.main-sec2 .sec2Leftbox .sec2Leftbox-Textbox .headText{
    font-size: 20px;
    font-weight: 900;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 25%);
}
.main-sec2 .sec2Leftbox .sec2Leftbox-Textbox .subText{
    margin-top: 8px;
    font-weight: 600;
    color: #424242;
    margin-bottom: 40px;
    white-space: pre-line;
}
.sec2Leftbox .sec2Swiper{
    margin-left: 480px;
    width: 500px;
    border-radius: 50px;
    position: absolute;
    right: 40px;
}
.sec2Leftbox .sec2Swiper .slide-content{
    width: 305px;
    height: 500px;
    border-radius: 50px;
}
.sec2Leftbox .sec2Swiper .slide1, .sec2Leftbox .sec2Swiper .slide5{
    background-color: red;
}
.sec2Leftbox .sec2Swiper .slide2, .sec2Leftbox .sec2Swiper .slide6{
    background-color: green;
}
.sec2Leftbox .sec2Swiper .slide3, .sec2Leftbox .sec2Swiper .slide7{
    background-color: blue;
}

.sec2Leftbox .sec2Swiper .swiper-wrapper .swiper-slide.swiper-slide-prev{
    z-index : 2;
    opacity: 1;
}
.sec2Leftbox .sec2Swiper .swiper-wrapper .swiper-slide.swiper-slide-next{
    z-index : 0;
    opacity: 1;
}
.sec2Leftbox .sec2Swiper .swiper-wrapper .swiper-slide.swiper-slide-active{
    z-index : 1;
    opacity: 1;
}
.sec2Leftbox .sec2Swiper .swiper-wrapper .swiper-slide{
    opacity: 0;
}



/* 오른쪽 */

.main-sec2 .sec2Leftbox {
    background-color:#EBFEFF;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 25%);
    height: 620px;
    position: relative;
}
.main-sec2 .sec2Leftbox .sec2Leftbox-Textbox{
    padding: 70px 0px 0px 60px;
}
.main-sec2 .sec2Leftbox .sec2Leftbox-Textbox .headText{
    font-size: 20px;
    font-weight: 900;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 25%);
}
.main-sec2 .sec2Leftbox .sec2Leftbox-Textbox .subText{
    margin-top: 8px;
    font-weight: 600;
    color: #424242;
    margin-bottom: 40px;
    white-space: pre-line;
}
.sec2Leftbox .sec2Swiper{
    margin-left: 480px;
    width: 500px;
    border-radius: 50px;
    position: absolute;
    right: 40px;
}
.sec2Leftbox .sec2Swiper .slide-content{
    width: 305px;
    height: 500px;
    border-radius: 50px;
}
.sec2Leftbox .sec2Swiper .slide1, .sec2Leftbox .sec2Swiper .slide5{
    background-color: red;
}
.sec2Leftbox .sec2Swiper .slide2, .sec2Leftbox .sec2Swiper .slide6{
    background-color: green;
}
.sec2Leftbox .sec2Swiper .slide3, .sec2Leftbox .sec2Swiper .slide7{
    background-color: blue;
}

.sec2Leftbox .sec2Swiper .swiper-wrapper .swiper-slide.swiper-slide-prev{
    z-index : 2;
    opacity: 1;
}
.sec2Leftbox .sec2Swiper .swiper-wrapper .swiper-slide.swiper-slide-next{
    z-index : 0;
    opacity: 1;
}
.sec2Leftbox .sec2Swiper .swiper-wrapper .swiper-slide.swiper-slide-active{
    z-index : 1;
    opacity: 1;
}
.sec2Leftbox .sec2Swiper .swiper-wrapper .swiper-slide{
    opacity: 0;
}



/* pagination-bar */
.sec2SwiperPagination{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.sec2SwiperPagination .swiper-pagination-wrapper {
    display: flex;
    width: 200px;
    height: 3px;
    background-color: transparent;
    align-items: center;
    margin-left: 64px;
    position: relative;
}
.sec2SwiperPagination .swiper-pagination-background {
    width: 100%;
    height: 100%;
    background-color: #B2B2B2;
    position: absolute;
    top: 0;
    left: 0;
}

.sec2SwiperPagination .swiper-pagination-progress {
    height: 100%;
    width: 100%;
    background-color: #000000;
    transition: width 0.3s ease;
    position: absolute;
    top: 0;
    left: 0; 
}

/* pagination-count */
.sec2SwiperPagination .swiper-pagination-info p{
    font-size: 16px;
    font-weight: 400;
}

.sec2SwiperPagination .sec2Right-button-next{
    position: static;
    width: 26px;
    height: 26px;
    margin-top: 0;;
}
.sec2SwiperPagination .sec2Right-button-prev{
    margin-top: 0;
    position: static;
    width: 26px;
    height: 26px;
}

.sec2SwiperPagination .sec2Left-button-next{
    position: static;
    width: 26px;
    height: 26px;
    margin-top: 0;;
}
.sec2SwiperPagination .sec2Left-button-prev{
    margin-top: 0;
    position: static;
    width: 26px;
    height: 26px;
}
.sec2SwiperPagination .swiper-button-next::after{
    display: none;
}
.sec2SwiperPagination .swiper-button-prev::after{
    display: none;
}
.main-sec2 .sec2RightBox{
    background-color: #E2FFE5;
}
.main-sec2 .sec2RightBox .sec2Leftbox-Textbox .headText{
    color: #515151;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}